@import url(root.css);

.container--pie{
    height: 20em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 0;
    align-items: center;
    color: var(--color--texto);
    font-family: var(--fuente--monserrate);
    font-size: 0.8em;
    font-weight: bold;
}
.imagen--once{
    grid-column: 1 / 12;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
}
.img--once{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: relative;
    z-index: -100;
}
.card--header--pie{
    grid-column: 3/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logotipo--amarillo{
    width: 100%;
}
.img--logotipo--amarillo{
    width: 100%;
    height: 40px;
}
.card--body--pie{
    grid-column: 3 / 10;
    grid-row: 2;
    display: flex;
}
.pie--text{
    width: 70%;
}
.pie--redes{
    width: 30%;
    height: 4em;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
.card--body--pie i{
    color: var(--bg--inicio);
}
.card--footer--pie{
    grid-column: 3 / 10;
    grid-row: 3;
    display: flex;
    width: 100%;
}
.pie--copirygth{
    width: 70%;
}
.pie--iconos{
    width: 30%;
}
.lista--iconos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
    list-style: none;
}